.btn-default{
  width: 150px;
  color: blue;
}
table, tr, td {
  border: 1px solid black;
}
thead{
  color: yellow;
  background-color: grey;
}
.violeta{
  color: violet;
}
.azul{
  color:blue;
}
.cyan{
  color: cyan;
}
.rojo{
  color: red;
}
.ama{
  color: yellow;
}
.verde{
  color: green;
}
body, html {
  height: 100%;
  padding: 0; /* ¿por qué, carousel, por qué? */
}
.carousel {
  height: 100%;
  margin-bottom: 0; /* ¿por qué, carousel, por qué? */
}
.carousel-inner, .carousel-inner > .item, .carousel-inner > .item > img {
  height: 100%;
}
