.form-signin .form-signin-heading{
  font: futura 20px/40px Georgia, serif;
  color: blue;
}

.violeta{
  color: #4E0277;
}
.azul{
  color:blue;
}
.cyan{
  color: #157CFF;
}
.rojo{
  color: red;
}
.ama{
  color: #FF9E00;
}
.verde{
  color: #056D00;
}
footer{
  float: right;
}
