.form-signin .form-signin-heading{
  font: futura 20px/40px Georgia, serif;
  color: blue;
}

.violeta{
  color: violet;
}
.azul{
  color:blue;
}
.cyan{
  color: cyan;
}
.rojo{
  color: red;
}
.ama{
  color: yellow;
}
.verde{
  color: green;
}
